* {
    user-select: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(39, 41, 68);
}
main {
    height: 100vh;
    position: relative;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width:375px) {
    .container {
        width:300px;
    }
} 
@media (min-width:376px) and (max-width:575px) {
    .container {
        width: 350px;
    }
}
@media (min-width:576px)  and (max-width:767px)  {
    .container {
        width: 700px;
    }
}
@media (min-width:768px) and (max-width:991px) { 
    .container {
        width:970px;
    }
}
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}
.game-board {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
.game-board h1 {
    margin:0 auto;
    font-size: 50px;
    font-weight: bold;
    width:max-content;
}
.game-board p {
    margin: 30px 0;
    text-align: center;
    width: 50%;
    font-size: 18px;
}
.game-board button {
    width: max-content;
    padding: 10px 20px;
    border: none;
    color: rgb(224, 224, 224);
    font-size: 20px;
    background: rgb(45, 117, 96);
    border-radius: 3px;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.5s ease;
}
.game-board button:hover {
    opacity: 1;
}
@media (max-width:575px) {
    .game-board h1 {
        font-size: 30px;
    }
    .game-board p {
        width: 100%;
        font-size: 17px;
    }
    .game-board button {
        font-size: 18px;
    }
}
.hide {
    display: none !important;
}
.player-score ,
.comp-score  {
    position: absolute;
    top: 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    color: white;
    font-size: 30px;
}
.player-score {
    left: 20%;
}
.comp-score {
    right: 20%;
}
.select-move .choices {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    align-items: center;
    justify-content: center;
}
.select-move .choices .choice {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    cursor: pointer;
    width: 30%;
    
}
.select-move .choices .choice img {
    width: 60%;
    transform: rotate(122deg);
}

@media (max-width:575px) {
    .player-score ,
    .comp-score {
        font-size: 20px;
    }
    .player-score {
        left: 10%;
    }
    .comp-score {
        right: 10%;
    }
    .select-move .choices .choice img {
        width: 120%;
    }
    .select-move .choices .choice {
        width: 43%;
    }
    .select-move .choices .choice p {
        font-size: 18px;
    }
}
.play-game {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.play-game h1 {
    height: 40px;
    width: fit-content;
}
.play-game .images {
    overflow: hidden;
    height: 250px;
    width: 100%;
    position: relative;
}
.play-game .images img {
    position: absolute;
    width: 20%;
    transition: 0.8s ease;
}
.play-game .images img:first-child {
    left:-200px;
    transform: rotate(-30deg);
    animation: move-2 1.5s forwards , rotate-2 2.5s 1.5s forwards;
}
.play-game .images img:last-child {
    right:-200px;
    transform:rotate(30deg);
    animation: move-1 1.5s forwards , rotate-1 2.5s 1.5s forwards;
}
@keyframes rotate-1 {
    10%,50%,90% {
        transform: rotate(0);
    }
    30%,70%,100%{
        transform:rotate(30deg);
    } 
}
@keyframes move-1 {
    to {
        right: 5%;
    }
}
@keyframes rotate-2 {
    10%,50%,90% {
        transform: rotate(0);
    }
    30%,70%,100%{
        transform:rotate(-30deg);
    } 
}
@keyframes move-2 {
    to {
        left: 5%;
    }
}
@media (max-width:575px) {
    .play-game .images img {
        width: 60%;
    }
    @keyframes move-2 {
        to {
            left: -10%;
        }
    }
    @keyframes move-1 {
        to {
            right: -10%;
        }
    }
}